.main{
	min-height:500px;
	
	
}
.image{
	 padding-bottom: 50px;
 margin-bottom: 20px;
 text-align: center;
 color: whitesmoke;
 background:url("1page.jpeg") no-repeat center;
 background-size: cover;
 
}
.innerimage{
	     padding-top: 15%;
     padding-left: 25%;
 width:80%;
 margin:auto;
}
.next{
	 position: relative;
 padding-top: 6%;
 padding-bottom: 6%;
 overflow:hidden;
 margin-bottom: 12%;
 background-color: rgba(0, 0, 0, 0.7);
 max-width: 660px;
}
.button{
 color: white;
 background-color: #c9302c;
 border-color: #ac2925;
 padding: 10px 16px;
 font-size: 18px;
 border-radius: 6px;
     width: 85px; 
    margin-left: 265px;
}
